<h1>BAG OF WORDS TABLE HAS BEEN DELETED, MUTHAFUCKA</h1>

<p>
	Number of WordCounts: <%= WordCount.all.count %>
	<br>
	Number of trained TrainingDeals: <%= TrainingDeal.where(:trained=>true).count %>
</p>