<h1>THE MOTHAFUCKING BAG OF WORDS TABLE IS BEING POPULATED, YO</h1>
<h2>IN THE BACKGROUND</h2>
<p>
	Number of WordCounts: <%= WordCount.all.count %>
	<br>
	Number of trained TrainingDeals: <%= TrainingDeal.where(:trained=>true).count %>
</p>