// Place all the styles related to the Deals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.deal_class {
	float:left;
	border:black 1px solid;
	margin:10px;
	width:220px;
	height:420px;
	padding:20px;
}

.deal_picture {
	
}